.wrapper {
  min-height: 100vh;
  width: 100%;
}

.hero {
  background: url(https://images.pexels.com/photos/1721637/pexels-photo-1721637.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  height: 40vh;
  width: 100%;
  display: grid;
  place-content: center;
  background-size: cover;
  background-position: center;
  background-color: black;
  opacity: 0.9;
}

.hero > h1 {
  color: white;
  font-size: 24px;
  letter-spacing: 0.2ch;
  background-color: black;
  opacity: 0.8;
  padding: 10px 20px;
}

.form {
}
