.wrapper {
  min-height: 90vh;
}

.parentContainer {
  display: flex;
  min-height: 90vh;
  width: 80%;
  align-items: center;
  margin: 0 auto;
}

.parentContainer > div {
  width: 50%;
}

.parentContainer > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* width: 40%; */
  height: 450px;
  text-align: center;
  margin: 2%;
  padding-top: 50px;
  border-radius: 10px;
}

.container button {
  color: white;
  width: 300px;
  text-transform: uppercase;
  background-color: rgb(77, 165, 224);
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 400;
  letter-spacing: 0.4ch;
  font-size: 18px;
  border: none;
  margin: 20px;
}

.container input {
  width: 80%;
  margin: 2% 0;
  font-size: 18px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgb(228, 224, 224);
  outline-color: rgb(230, 225, 225);
}

.container p {
  font-size: larger;
}

.h1 {
  text-align: center;
  margin: 0 0 10% 0;
}

.container > h1 {
  font-weight: 700;
}

.wrong {
  text-align: center;
  margin-top: 2%;
}
