.container {
  width: 50%;
  margin-top: 2%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(77, 165, 224);
  border-radius: 10px;
  padding: 20px 0px;
}

.container h1 {
  text-align: center;
  font-weight: 680;
}

.container input {
  margin: 2% 0;
}

.container button {
  color: white;
  background-color: rgb(77, 165, 224);
  width: 350px;
  height: 40px;
  border-radius: 10px;
  margin-top: 5%;
  font-weight: 700;
  font-size: 18px;
  border: none;
}

.container input {
  width: 350px;
  height: 40px;
  margin: 2% 0;
  border: none;
  border-bottom: 2px solid rgb(77, 165, 224);
  outline: none;
}

.wrong {
  text-align: center;
  margin-top: 2%;
}
