.wrapper {
  min-height: 85vh;
}

.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.container h1 {
  text-align: center;
  font-weight: 600;
}

.container button {
  color: white;
  width: 300px;
  text-transform: uppercase;
  background-color: rgb(77, 165, 224);
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 400;
  letter-spacing: 0.4ch;
  font-size: 18px;
  border: none;
  margin: 20px;
}

.container input {
  width: 80%;
  margin: 2% 0;
  font-size: 18px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgb(228, 224, 224);
  outline-color: rgb(230, 225, 225);
}

.wrong {
  text-align: center;
  margin-top: 2%;
}
