.card {
  border: 1px solid black;
  max-width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  margin: 5% 5%;
}

.card > div {
  margin: 2% 3%;
}

.btn {
  margin-top: 18%;
  text-align: center;
  width: 100px;
  height: 30px;
  color: rgb(3, 87, 87);
  font-weight: 300;
  border-radius: 5px;
}
